
/* CSS do título do input e o input  */
.caixaInput{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    align-items: flex-start;
    gap: 6px;
}

/* Título do input  */
.caixaInput>span{
    color: #d4d4d4;
    font-weight: 400;
    font-size: 16px;
}


/* Engloba a imagem e o input juntos em um fundo  */
.Input{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    align-items: center;
    padding-right: 8px;
    background-color: #1F2937;
    border-radius: 5px;
}

/* Imagem que aparece no input  */
.Input>img{
    margin: 8px;
    height: 21px;
    width: 21px;
}

/* input do html  */
.Input>input{
    width: 100%;
    height: 100%;
    border: 0 none;
    background: none;
    font-weight: 400;
    font-size: 16px;
    color: #d4d4d4;
}

/* CSS para tirar os efeitos do input ao selecionarmos nele para utiliza-lo */
.Input>input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}